@use "../../scss" as *;

img {
  width: 100%;
}

.placeholder {

    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  &__url {
    font-size: 0.7rem;
    line-height: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    padding: 0 13px;
  }

  &__btn {
    background: #2F80ED;
    border-radius: 8px;
    border-style: none;
    color: white;
    padding: 9px 20px;
    white-space: nowrap;
  }
}
