
@use "./scss/" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');










html {
  box-sizing: border-box;
}


#root, .App {
  height: 100%;
}

body {
  height: 100vh;
  font-family: $font-family;
}

h2 {
  font-weight: 500;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



.App {
 display: flex;
 justify-content: center;
 align-items: center;
 
}


