$x-small: 600px !default;
$small: 800px !default;
$medium: 1000px !default;
$large: 1200px !default;



$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;



$background: white !default;
$primary-color: #2F80ED !default;



$font-size: 1rem !default;
$body-font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-color: #4F4F4F !default;
$font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Arial, sans-serif !default;
$line-height: 1.6 !default;