

.container {
    
    // height: 65vh;
    // width: 65vh;
    // text-align: center;
    // box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    // padding: 36px 32px;


    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;



//     height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
}


